---
name: Deploy The Watercooler
on:
  push:
    branches:
      - main
jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v1
      - name: Cache Docker images
        uses: ScribeMD/docker-cache@0.5.0
        with:
          key: "${{ runner.os }}-build-${{ env.cache-name }}-${{ hashFiles('**/docker-compose.yaml') }}-${{ hashFiles('**/docker-compose.production.yaml') }}"
      - uses: KengoTODA/actions-setup-docker-compose@main
        name: Set up Docker Compose
        with:
          version: '2.40.3'
      - name: Fetch blog-gen
        env:
          BLOG_GEN_VERSION: 2.1.2
        run: >-
          git clone -b "v${BLOG_GEN_VERSION}" https://github.com/carlosonunez/https-hugo-bloggen blog-gen

      - name: Decrypt environment file
        run: ./blog-gen/scripts/decrypt_env.sh
        env:
          ENV_PASSWORD: ${{ secrets.env_file_encryption_key }}

      - name: Deploy the blog
        run: ./blog-gen/scripts/deploy
